
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/product">
        <i class="bi bi-columns-gap menu-icon"></i>
        <span class="menu-title">Danh sách sản phẩm</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/users">
        <i class="bi bi-people-fill menu-icon"></i>
        <span class="menu-title">Danh sách nhân viên</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/bill">
        <i class="bi bi-clipboard-check menu-icon"></i>
        <span class="menu-title">Danh sách hóa đơn</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/product/formcheckid">
        <i class="bi bi-box-seam menu-icon"></i>
        <span class="menu-title">Nhập kho</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:63342/castudy_module_4/castudy_module_4.main/templates/charts.html">
        <i class="bi bi-bar-chart-line menu-icon"></i>
        <span class="menu-title">Thống kê</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/product/formcheckid">
        <i class="bi bi-person-rolodex menu-icon"></i>
        <span class="menu-title">Nhà cung cấp</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/product/formcheckid">
        <i class="bi bi-truck menu-icon"></i>
        <span class="menu-title">Đơn vị vận chuyển</span>
      </a>
    </li>
  </ul>
</nav>
</body>
</html>
