<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/product">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Danh sách sản phẩm</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#ui-basic">
        <i class="icon-layout menu-icon"></i>
        <span class="menu-title">Danh sách nhân viên</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/bill" >
        <i class="icon-columns menu-icon"></i>
        <span class="menu-title">Danh sách hóa đơn</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/bill" >
        <i class="icon-columns menu-icon"></i>
        <span class="menu-title">Nhập kho</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/report" >
        <i class="icon-bar-graph menu-icon"></i>
        <span class="menu-title">Thống kê</span>
      </a>
    </li>
  </ul>
</nav>